
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: #232425;
  color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  color: #f2f2f2;
}

h1 {
  font-size: 3.5em;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h6 {
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: ##2DA8D8FF;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}


